SUPABASE_URL=https://your-supabase-project.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key
GOOGLE_IOS_CLIENT_ID=your-google-ios-client-id
GOOGLE_WEB_CLIENT_ID=your-google-web-client-id

SHOPIFY_STORE_DOMAIN=muu1gj-t6.myshopify.com
SHOPIFY_STOREFRONT_API_VERSION=2026-04
SHOPIFY_STOREFRONT_PUBLIC_TOKEN=your-shopify-public-storefront-token
